@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "Source Sans Pro";
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 60px; */
}
.main .icon {
  width: 200px;
  height: 200px;
}
.main h3 {
  color: #080a0b;
  font-size: 32px;
}

.main h4 {
  color: #080a0b;
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  line-height: 22px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #10a37f;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
}
.main .button {
  display: inline-block;
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #800020; /* Burgundy color */
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  font-family: "Georgia", serif;
}

.button:hover {
  background-color: #660015;
} /* Darker burgundy color */

.button:active {
  background-color: #660015;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.advancedOptionsContainer {
  padding: 20px 30px;
  position: relative;
  z-index: 1002;
  top: 50%;
  left: 50%;
  width: 600px;
  /* height: 785px; */
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid #8c8c8c;
  box-sizing: border-box;

  transform: translate(-50%, -50%);
  /* This centers the div */
  overflow-y: auto;
  max-height: 80vh;
}

.childContainer {
  max-width: 320px; /* Width as you've set */
  max-height: 150px; /* This will determine when the overflow starts */
  overflow-y: auto; /* Add a vertical scrollbar when the content overflows */
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-right: 8px; /* This will prevent the scrollbar from overlaying your chips */
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  top: 0px;
  left: 1px;
  width: 100%;
  height: 102px;
  background-color: #282828;
}

.applyFilterBtn {
  top: 763px;
  left: 752px;
  width: 220px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #030303;
  color: #ffffff;
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  line-height: 22px;
  outline: none;
}

.disablePointerEvents {
  pointer-events: none;
}

.advancedOptionsContainer::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
}

.advancedOptionsContainer::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* Background of the scrollbar track (the lane) */
  border-radius: 10px; /* Rounded corners for the track */
}

.advancedOptionsContainer::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Color of the scroll thumb (the draggable part) */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.advancedOptionsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* Color of the thumb on hover */
}

.advancedOptionsContainer {
  scrollbar-width: thin; /* "thin" or "auto" or "none" */
  scrollbar-color: #bdbdbd #f4f4f4; /* thumb and track color */
}
