body {
  margin: 0;
  padding: 0;
  /* import image from assets */

  width: 100%;
  height: 100%;
  background: url("./assets/BG3.png");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed; /* Background image does not scroll with the page */
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "Source Sans Pro";
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.main .icon {
  width: 200px;
  height: 200px;
}
.main h3 {
  color: #080a0b;
  font-size: 32px;
}

.main h4 {
  color: #080a0b;
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  line-height: 22px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 320px;
}

.main .result {
  font-weight: bold;
  margin-top: 40px;
}
.main .button {
  display: inline-block;
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #800020;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  font-family: "Georgia", serif;
}

.button:hover {
  background-color: #660015;
} /* Darker burgundy color */

.button:active {
  background-color: #660015;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.advancedOptionsContainer {
  padding: 20px 5%;
  position: relative;
  z-index: 1002;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid #8c8c8c;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  max-height: 80vh;
}

@media (min-width: 768px) {
  .advancedOptionsContainer {
    padding: 20px 30px;
    width: 80%;
  }
}
@media (max-width: 600px) {
  .main h3 {
    font-size: 24px;
  }
}

.childContainer {
  height: 320px;
  overflow-y: auto;
  width: 320px;
  position: relative;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  top: 0px;
  left: 1px;
  width: 100%;
  height: 102px;
  background-color: #282828;
  position: relative;
}

.applyFilterBtn,
.clearBtn {
  width: 220px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  line-height: 22px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.applyFilterBtn {
  background-color: #030303;
  color: #ffffff;
  margin-left: 50px; /* Add spacing between buttons */
}

.clearBtn {
  background-color: #ffffff;
  color: #000000;
}

.applyFilterBtn:hover {
  background-color: #222222;
}

.applyFilterBtn:active {
  background-color: #004080; /* Dark blue color */
  box-shadow: 0 5px #003366; /* Slightly darker shadow */
  transform: translateY(4px);
}

.clearBtn:active {
  background-color: #f0f0f0; /* Light gray color */
  box-shadow: 0 2px #d4d4d4; /* Lighter shadow */
  transform: translateY(2px);
}

.clearBtn:hover {
  background-color: #f0f0f0;
  color: #666666;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.advancedOptionsContainer::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
}

.advancedOptionsContainer::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* Background of the scrollbar track (the lane) */
  border-radius: 10px; /* Rounded corners for the track */
}

.advancedOptionsContainer::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Color of the scroll thumb (the draggable part) */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.advancedOptionsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* Color of the thumb on hover */
}

.advancedOptionsContainer {
  scrollbar-width: thin; /* "thin" or "auto" or "none" */
  scrollbar-color: #bdbdbd #f4f4f4; /* thumb and track color */
}
.childContainer::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
}

.childContainer::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* Background of the scrollbar track (the lane) */
  border-radius: 10px; /* Rounded corners for the track */
}

.childContainer::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Color of the scroll thumb (the draggable part) */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.childContainer::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* Color of the thumb on hover */
}

.childContainer {
  scrollbar-width: thin; /* "thin" or "auto" or "none" */
  scrollbar-color: #bdbdbd #f4f4f4; /* thumb and track color */
}

.headerIcon {
  /* style the header logo to be much smaller and look nicely at the top left of the header */
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the overlay behind the content */
  opacity: 0.5;
}

@media (max-width: 600px) {
  .button {
    padding: 8px 16px;
    font-size: 0.8em;
  }
}

@media (max-width: 600px) {
  .cardContainer {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .childContainer {
    height: auto;
    max-height: 70vh;
  }
}

@media (max-width: 600px) {
  .headerIcon {
    width: 70px;
    height: 70px;
  }
}
